.markdown-body{
  font-size 1rem,
  line-height 1.5,
  font-family $font-family,
  margin-bottom 2rem,
  color var(--post-text-color),
  
  h1, h2, h3, h4, h5, h6 
    font-weight: bold; 
    color: color-default 
    &:focus
      outline none
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a 
    color: color-default 
    text-decoration: none
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover 
    color: color-link
  h2, h3, h4, h5, h6 
    font-weight: 600; 
    margin-bottom: 10px
  h1
    font-size: 2.25em
    line-height: 1.2
    border-bottom: 1px solid #eee
  h2
    font-size: 1.75em
    line-height: 1.1
    border-bottom: 0px solid #eee
    color: #7e3131
  h3
    font-size: 1.5em
    line-height: 1.1
    color:RGB(47,85,151)
  h4
    font-size: 1.2em
  h5
    font-size: 1em
  h6
    font-size: 1em
    color: #777
  a
    color: #173774
  blockquote
    border-left: 4px solid #dfe2e5
    padding: 0 15px
    color: #777777
    padding-right: 0
  mark
    background: rgb(255, 249, 159)
    padding: 0px solid #585e5a
    border-radius: 16px solid #4d4f52;
    color: #000000
  
  strong
    color: #be0000
    font-weight: bold
  em, cite
    font-style: italic

  pre
    font-size $code-font-size !important

    code
      overflow-x auto
      line-height 1.2
      border-radius 5px
      tab-size 4

    .mermaid
      text-align center

      & > svg
        min-width 100%

  p > img, p > a > img
    max-width 90%
    margin 1.3rem auto
    display block
    box-shadow $img-shadow
    border-radius 5px
    background-color transparent

  details
    cursor pointer

    summary
      outline none
}


.markdown-body{
  p
    text-indent: 2em /*首行缩进*/
  p > ul, p > a, p > a > ul
    text-indent: 0em
  pre
    border-radius 5px
}