body, header, main, div.mask.flex-center, div.scroll-down-bar, #banner.banner, h1,h2,h3,h4,h5,h6 {
    cursor: url(http://lzqlearn.com/img/a11.cur) default;
}

a, a:hover, button:hover, i:hover {
    cursor: url(http://lzqlearn.com/img/a22.cur) default;
}

#rightside>div>button,
#rightside>div>a {
    display: block;
    margin-bottom: 2px;
    width: 30px;
    height: 30px;
    color: var(--btn-color);
    text-align: center;
    font-size: 16px;
    cursor: url(http://lzqlearn.com/img/a22.cur) default;
}

/* 文章标签 */
.layout_post .tag_share .post-meta__tags {
    cursor: url(http://lzqlearn.com/img/a22.cur) default;
}
/* 评论区 */
.vcol * {
    cursor: url(http://lzqlearn.com/img/a22.cur) default;
}
.v[data-class=v] .vicon {
    cursor: url(http://lzqlearn.com/img/a22.cur) default;
}
.v[data-class=v] .vbtn {
    cursor: url(http://lzqlearn.com/img/a22.cur) default;
}
/* 回复 */
.vat {
    cursor: url(http://lzqlearn.com/img/a22.cur) default;
}
/*分页器*/
#pagination .page-number:hover {
    cursor: url(http://lzqlearn.com/img/a22.cur) default;
}
/* 分页器的三个点(...) */
.space {
    color: #00c4b6;
}